// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
}

// Large devices (desktops, 992px and up)
@media (min-width: 1024px) {
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1366px) {
}

// Large devices (desktops, less than 1366px)
@media (max-width: 1365.98px) {
  // Common Firsr Screen Section
  .common-first-screen-section {
    &__text {
      h1 {
        font-size: 35px;
        letter-spacing: -0.94px;
        line-height: 56px;
      }

      .search-form {
        max-width: 455px;
        top: 35px;
      }
    }
  }

  // FIRST SCREEN SECTION
  .first-screen {
    &__text {
      h1 {
        font-size: 35px;
        letter-spacing: -0.94px;
        line-height: 55px;
      }

      h3 {
        font-size: 16px;
        letter-spacing: -0.08px;
        line-height: 28px;
      }
    }
  }

  // TOPICS SECTION
  .topics-section {
    .card {
      max-width: 350px;
    }
  }
}

// Medium devices (tablets, less than 1024)
@media (max-width: 1023.98px) {
  // Common Firsr Screen Section
  .common-first-screen-section {
    &__text {
      h1 {
        text-align: center;
      }

      .search-form {
        margin: auto;
      }
    }
  }

  // Section Title
  .section-title {
    font-size: 32px;
    letter-spacing: -0.86px;
  }

  // Section Description
  .section-description {
    font-size: 18px;
    letter-spacing: -0.09px;
  }

  // HEADER
  .header {
    .header-nav--desktop {
      display: none;
    }
    .header-nav--mobile {
      display: block;
    }
  }

  // FIRST SCREEN SECTION
  .first-screen {
    &__wrapper {
      padding-top: 145px;
    }

    &__text {
      h1 {
        text-align: center;
        margin-bottom: 5px;
      }

      h3 {
        line-height: 28px;
        text-align: center;
        max-width: 475px;
        margin: auto;
      }

      .search-form {
        max-width: 455px;
        margin: 0 auto;
      }
    }

    &__wrapper__images {
      display: flex;
      justify-content: center;
    }

    &__images {
      position: relative;
      top: 55px;
      margin-bottom: -35px;

      img {
        width: 90%;
        &:first-child {
          margin-right: 15px;
        }
      }
    }
  }

  // TOPICS SECTION
  .topics-section {
    margin-top: 90px;

    .card {
      &__title {
        font-size: 18px;
        font-weight: 500;
        letter-spacing: -0.49px;
        line-height: 40px;
      }

      &__description {
        font-size: 15px;
        letter-spacing: -0.07px;
        line-height: 28px;
      }
    }
  }
}

// Small devices (landscape phones, less than 768px)
@media (max-width: 767.98px) {
  // Subscription Form
  .subscription-form {
    .input-and-btn {
      flex-direction: column;

      input {
        border-radius: 8px;
        text-align: center;
        max-width: initial;
        width: 100%;
      }

      button {
        border-radius: 8px;
        margin-top: 15px;
        max-width: initial;
        width: 100%;
      }
    }

    .success-message {
      margin-top: 20px;
      text-align: center;
    }
  }

  // Section Title
  .section-title {
    font-size: 24px;
    letter-spacing: -0.65px;
    line-height: 33px;
    margin-bottom: 22px;
  }

  // Section Description
  .section-description {
    font-size: 15px;
    letter-spacing: -0.07px;
    line-height: 21px;
  }

  // FIRST SCREEN SECTION
  .first-screen {
    &__wrapper {
      padding-top: 125px;
    }

    &__text {
      h1 {
        font-size: 27px;
        letter-spacing: -0.73px;
        line-height: 32px;
        padding-bottom: 20px;
      }

      h3 {
        line-height: 23px;
        margin: auto;
        width: 90%;
      }
    }

    &__images {
      img {
        width: 48%;
      }
    }
  }

  // TOPICS SECTION
  .topics-section {
    margin-top: 60px;

    &__title {
      font-size: 20px;
      letter-spacing: -0.54px;
      margin-bottom: 40px;
    }

    .card {
      &__title {
        font-size: 15px;
        letter-spacing: -0.41px;
      }
      &__description {
        font-size: 13px;
        letter-spacing: -0.07px;
        line-height: 23px;
      }
    }
  }

  // COMING SOON SECTION
  .coming-soon-section {
    .subscription-form {
      box-shadow: none;

      .input-and-btn input {
        box-shadow: 0 5px 40px 0 rgba(0, 0, 0, 0.1);
      }
    }
  }

  // FOOTER
  .footer {
    &__logo {
      text-align: center;
      margin-bottom: 20px;
    }

    &__menu {
      justify-content: center;
    }

    nav a {
      margin-right: 19px;
    }
  }
}

// Extra small devices (portrait phones, less than 576px)
@media (max-width: 575.98px) {
}

@media (max-width: 389.98px) {
  // FEATURES SECTION
  .features-section {
    &__cards__bg {
      height: 1480px;
    }
  }
}
