@import 'vars';
@import 'mixins';
@import 'fonts';
@import 'libs';
@import 'components';

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-bottom: 0;
}

a {
  text-decoration: none !important;
}

body {
  font-family: 'Gordita', sans-serif;
}

@import 'media';
