@import 'vars';
@import 'mixins';
@import 'fonts';
@import 'libs';
@import 'components';

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-bottom: 0;
}

a {
  text-decoration: none !important;
}

body {
  font-family: 'Gordita', sans-serif;
  overflow-x: hidden;
}

.main-layout {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
  overflow-x: hidden;
}

// FIRST SCREEN SECTION
.first-screen {
  &__wrapper {
    background-color: $blue;
    padding-top: 145px;
  }

  &__skew {
    @include skewBG();
  }

  &__text {
    h1,
    h3 {
      color: $white;
      font-weight: normal;
    }

    h1 {
      font-size: 42px;
      letter-spacing: -1.13px;
      line-height: 66px;
      margin-bottom: 20px;
    }

    h3 {
      font-size: 18px;
      letter-spacing: -0.09px;
      line-height: 28px;
      margin-bottom: 45px;
    }

    .search-form {
      position: relative;
      top: 30px;
      z-index: 10;
    }
  }

  &__wrapper__images {
    position: relative;
  }

  &__images {
    display: flex;
    position: absolute;

    img {
      filter: drop-shadow(0 9px 40px #00000026);
      height: 100%;
      width: 100%;

      &:first-child {
        margin-right: 20px;
      }
    }
  }
}

// TOPICS SECTION
.topics-section {
  margin-top: 40px;
  margin-bottom: 15px;

  &__title {
    color: $dark-text;
    font-size: 26px;
    font-weight: 500;
    letter-spacing: -0.7px;
    line-height: 66px;
    margin-top: 30px;
    margin-bottom: 50px;
  }

  .card {
    margin-bottom: 50px;

    &__image {  
      width: 0;
      height: 0;
      border-bottom: 16px solid #244feb;
      border-left: 16px solid transparent;
      margin-bottom: 5px;
    }

    &__title {
      color: $dark-text;
      font-size: 22px;
      font-weight: 500;
      letter-spacing: -0.59px;
      line-height: 46px;
    }

    &__description {
      color: $gray-text;
      font-size: 17px;
      letter-spacing: -0.09px;
      line-height: 28px;
    }
  }
}

// COMMING SOON SECTION
.coming-soon-section {
  background-color: #f4f7fa;
  padding: 10px 0;

  &__wrapper {
    margin: 100px auto;
    max-width: 565px;
    text-align: center;
  }

  .section-description {
    margin-bottom: 45px;
  }

  .subscription-form {
    margin: auto;

    .input-and-btn {
      box-shadow: 0 10px 40px 0 rgba(0, 0, 0, 0.1);
      button {
        background-color: $blue;
      }
    }

    .success-message {
      color: #017d06;
    }
  }
}

/*
* Category Page
*/
// Category Navigation Section
.category-navigation-section {
  margin-top: 20px;

  &__wrapper {
    max-width: 780px;
  }

  nav {
    margin-bottom: 40px;

    h3 {
      color: $dark-text;
      font-size: 19px;
      font-weight: 500;
      letter-spacing: -0.1px;
      line-height: 50px;
    }

    h4 {
      color: #244feb;
      font-size: 17px;
      font-weight: 400;
      letter-spacing: -0.09px;
      line-height: 40px;
    }

    div {
      color: #5e6478;
      font-size: 14px;
      letter-spacing: -0.07px;
      line-height: 23px;
    }

    li {
      list-style: none;
      margin: 20px 0 15px;

      a {
        color: $blue;
        font-size: 17px;
        letter-spacing: -0.09px;
        line-height: 40px;
      }
    }
  }
}

/*
* Search Page
*/
.search-page {
  margin-top: 20px;
  min-height: 50vh;

  &__wrapper {
    max-width: 780px;
  }

  &__title {
    color: $dark-text;
    font-size: 22px;
    font-weight: normal;
    letter-spacing: -0.59px;
    line-height: 66px;

    strong {
      font-weight: 500;
    }
  }

  &__results {
    padding-left: 0;
    padding-bottom: 10px;

    li {
      margin: 20px 0 15px;
      list-style: none;

      a {
        h3 {
          color: $blue;
          font-size: 17px;
          font-weight: normal;
          letter-spacing: -0.09px;
          line-height: 40px;
        }

        p {
          color: $gray-text;
          font-size: 14px;
          letter-spacing: -0.07px;
          line-height: 23px;
        }
      }
    }
  }

  &__pagination {
    padding-top: 10px;
    border-top: 1px solid #babbd0;

    nav {
      display: flex;
      justify-content: center;
      margin: 27px auto;
      max-width: 345px;

      i,
      span {
        display: inline-block;
        color: $gray-text;
        font-size: 16px;
        letter-spacing: -0.08px;
        line-height: 42px;
      }

      span {
        margin: 0 18px;
        cursor: pointer;
        text-align: center;
      }

      span.active {
        background-color: $blue;
        border-radius: 50%;
        color: #fff;
        height: 42px;
        width: 42px;
      }
    }
  }

  &__periscope {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 50vh;
    padding: 15vh 0 20vh;

    img {
      width: 30%;
      max-width: 265px;
      min-width: 165px;
    }
  }
}

@import 'media';
